In [1]:
import numpy as np
import pandas as pd
import pandas_ta as ta
from datetime import datetime,timedelta
import plotly.express as px

In [2]:
import vectorbtpro as vbt
vbt.settings.set_theme("dark")

In [3]:
# end_date = datetime.now()
# start_date = end_date - timedelta(days=3)
# btc_price = vbt.BinanceData.fetch(
#     "BTCUSDT",
#     start = start_date,
#     end = end_date).get("Close")
# print(btc_price)
# rsi = vbt.RSI.run(close=btc_price,window=[14,21])

# print(rsi.rsi)

# entries = rsi.rsi_crossed_below(30)
# entries = rsi.rsi_below(30)
# exits = rsi.rsi_crossed_above(70)

# pf = vbt.Portfolio.from_signals(btc_price,entries,exits)
# print(entries.to_string())
# print(type(btc_price))
# print(pf.stats())
# pf.plot().show()
# print(pf.total_return())

# Binance Fetch

In [4]:
data = vbt.BinanceData.fetch(
    "BTCUSDT",
    start="2020-01-01",
    end="2021-01-01",
    timeframe="1 day"
)
print(data.get("Close"))

0it [00:00, ?it/s]

Open time
2020-01-01 00:00:00+00:00     7200.85
2020-01-02 00:00:00+00:00     6965.71
2020-01-03 00:00:00+00:00     7344.96
2020-01-04 00:00:00+00:00     7354.11
2020-01-05 00:00:00+00:00     7358.75
                               ...
2020-12-27 00:00:00+00:00    26281.66
2020-12-28 00:00:00+00:00    27079.41
2020-12-29 00:00:00+00:00    27385.00
2020-12-30 00:00:00+00:00    28875.54
2020-12-31 00:00:00+00:00    28923.63
Freq: D, Name: Close, Length: 366, dtype: float64

In [5]:
df = pd.DataFrame()
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [6]:
#initial read
df = pd.read_csv("GOOG_1D_EMA_35.csv")
# df2 = pd.read_csv("BATS_GOOG, 1D.csv")
df

,time,open,high,low,close,EMA,Smoothing Line
0,2017-09-27T13:30:00Z,46.387,47.49500,46.3870,47.2245,46.418617,46.392656
1,2017-09-28T13:30:00Z,47.068,47.53450,47.0275,47.4750,46.477305,46.408814
2,2017-09-29T13:30:00Z,47.600,47.98932,47.5755,47.9555,46.559427,46.441063
3,2017-10-02T13:30:00Z,47.999,48.12700,47.3920,47.6635,46.620764,46.489465
4,2017-10-03T13:30:00Z,47.700,47.90000,47.4570,47.8895,46.691250,46.553473
...,...,...,...,...,...,...,...
1382,2023-03-27T13:30:00Z,105.320,105.40000,102.6300,103.0600,97.877135,97.027063
1383,2023-03-28T13:30:00Z,103.000,103.00000,100.2800,101.3600,98.070628,97.425115
1384,2023-03-29T13:30:00Z,102.720,102.82000,101.0300,101.9000,98.283370,97.775275
1385,2023-03-30T13:30:00Z,101.440,101.61000,100.2900,101.3200,98.452072,98.051093
1386,2023-03-31T13:30:00Z,101.710,104.19000,101.4400,104.0000,98.760290,98.288699

# EMA 35 Check

In [7]:
# EMA = vbt.IF.from_talib('EMA')
EMA = vbt.IF.from_pandas_ta('EMA')
# df['EMA_TALIB'] = EMA.run(df['close'], timeperiod = 35).real
# df['EMA_DIFF'] = abs(df['EMA_TALIB'] - df['EMA'])
df['EMA_PANDAS_TA'] = EMA.run(df['close'], length = 35).ema
print(df[df['EMA_PANDAS_TA'] == df['EMA']]) #check when EMA_TV = EMA_TALIB
print("------------------------------------------------------------------------------")
# print(df)
print("------------------------------------------------------------------------------")
vbt.phelp(vbt.IF.from_pandas_ta('ADX').run)
# print(EMA.__doc__)
# vbt.phelp(vbt.IF.list_indicators("RSI"))
# px.line(df, x = 'time', y = ['EMA_DIFF'], title = 'EMA vs EMAPYTHON35')

                      time     open        high       low     close
613   2020-03-06T14:30:00Z   63.853   65.311000   63.0525   64.9205  \
614   2020-03-09T13:30:00Z   60.265   62.737995   60.0000   60.7780
615   2020-03-10T13:30:00Z   63.000   64.057500   60.9385   64.0195
616   2020-03-11T13:30:00Z   62.485   63.048000   59.8035   60.7705
617   2020-03-12T13:30:00Z   56.300   59.693500   55.6650   55.7455
...                    ...      ...         ...       ...       ...
1376  2023-03-17T13:30:00Z  100.840  103.490000  100.7500  102.4600
1377  2023-03-20T13:30:00Z  101.060  102.580000  100.7900  101.9300
1378  2023-03-21T13:30:00Z  101.980  105.960000  101.8600  105.8400
1379  2023-03-22T13:30:00Z  105.140  107.510000  104.2100  104.2200
1380  2023-03-23T13:30:00Z  105.890  107.100900  105.4100  106.2600

            EMA  Smoothing Line  EMA_PANDAS_TA
613   70.703418       71.254393      70.703418
614   70.152006       70.940771      70.152006
615   69.811311       70.610684      69.811311
616   69.309044       70.203874      69.309044
617   68.555514       69.706258      68.555514
...         ...             ...            ...
1376  95.128405       94.505355      95.128405
1377  95.506271       94.769057      95.506271
1378  96.080367       95.146887      96.080367
1379  96.532569       95.588949      96.532569
1380  97.072982       96.064119      97.072982

[637 rows x 8 columns]
------------------------------------------------------------------------------
------------------------------------------------------------------------------
ADX.run(
    high,
    low,
    close,
    length=Default(value=None),
    lensig=Default(value=None),
    scalar=Default(value=None),
    mamode=Default(value=None),
    drift=Default(value=None),
    offset=Default(value=None),
    short_name='adx',
    hide_params=None,
    hide_default=True,
    **kwargs
):
    Run `ADX` indicator.

    * Inputs: `high`, `low`, `close`
    * Parameters: `length`, `lensig`, `scalar`, `mamode`, `drift`, `offset`
    * Outputs: `adx`, `dmp`, `dmn`

    Pass a list of parameter names as `hide_params` to hide their column levels, or True to hide all.
    Set `hide_default` to False to show the column levels of the parameters with a default value.

    Other keyword arguments are passed to `ADX.run_pipeline`.

# RSI

In [8]:
df = pd.read_csv("GOOG_1D_EMA_35.csv")
# df = pd.read_csv("test2dc.csv")
df

,time,open,high,low,close,EMA,Smoothing Line
0,2017-09-27T13:30:00Z,46.387,47.49500,46.3870,47.2245,46.418617,46.392656
1,2017-09-28T13:30:00Z,47.068,47.53450,47.0275,47.4750,46.477305,46.408814
2,2017-09-29T13:30:00Z,47.600,47.98932,47.5755,47.9555,46.559427,46.441063
3,2017-10-02T13:30:00Z,47.999,48.12700,47.3920,47.6635,46.620764,46.489465
4,2017-10-03T13:30:00Z,47.700,47.90000,47.4570,47.8895,46.691250,46.553473
...,...,...,...,...,...,...,...
1382,2023-03-27T13:30:00Z,105.320,105.40000,102.6300,103.0600,97.877135,97.027063
1383,2023-03-28T13:30:00Z,103.000,103.00000,100.2800,101.3600,98.070628,97.425115
1384,2023-03-29T13:30:00Z,102.720,102.82000,101.0300,101.9000,98.283370,97.775275
1385,2023-03-30T13:30:00Z,101.440,101.61000,100.2900,101.3200,98.452072,98.051093
1386,2023-03-31T13:30:00Z,101.710,104.19000,101.4400,104.0000,98.760290,98.288699

In [9]:
def list_of_trades_by_rsi(df) :
    df_tmp = pd.DataFrame()
    state = 0
    for row in range(len(df)) :
        tmp = pd.DataFrame({'time': [df.time[row]], 
                    'close': [df.close[row]], 
                    'RSI': [df.RSI[row]], 
                    'entries': [df.entries[row]],
                    'exits': [df.exits[row]]})
        if df.entries[row] and state == 0 : # df.at[row, 'entries']
            df_tmp = pd.concat([df_tmp, tmp], ignore_index=True)
            state = 1
        if df.exits[row] and state == 1 :
            df_tmp = pd.concat([df_tmp, tmp], ignore_index=True)
            state = 0
    return df_tmp

In [10]:
rsi = vbt.RSI.run(close=df['close'],window=14)
# print(rsi.rsi)
entries = rsi.rsi_crossed_below(30)
exits = rsi.rsi_crossed_above(70)
df['RSI'] = rsi.rsi 
df['entries'] = entries
df['exits'] = exits
# print(df)
print("------------------------------------------------------------------------------")
lot = pd.DataFrame()
lot = list_of_trades_by_rsi(df)
print(lot)

------------------------------------------------------------------------------
                   time     close        RSI  entries  exits
0  2018-02-08T14:30:00Z   50.0760  28.067589     True  False
1  2018-06-18T13:30:00Z   58.6730  71.948746    False   True
2  2018-10-10T13:30:00Z   54.0610  24.714487     True  False
3  2019-03-12T13:30:00Z   59.6600  70.736116    False   True
4  2019-06-03T13:30:00Z   51.8115  24.187120     True  False
5  2019-07-26T13:30:00Z   62.5205  76.370681    False   True
6  2020-02-27T14:30:00Z   65.9045  26.421608     True  False
7  2020-08-26T13:30:00Z   82.6190  73.395750    False   True
8  2022-01-21T14:30:00Z  130.0920  27.292272     True  False
9  2023-01-23T14:30:00Z  101.2100  70.111021    False   True

In [11]:
def plot_rsi(rsi, entries, exits):
    fig = rsi.plot()  
    entries.vbt.signals.plot_as_entries(rsi.rsi, fig=fig)  
    exits.vbt.signals.plot_as_exits(rsi.rsi, fig=fig)  
    return fig

# STAT

In [12]:
rsi = vbt.RSI.run(close=df['close'],window=14)
entries = rsi.rsi_crossed_below(30)
exits = rsi.rsi_crossed_above(70)
clean_entries, clean_exits = entries.vbt.signals.clean(exits) 
# print(clean_entries)
# plot_rsi(rsi, clean_entries, clean_exits).show()
init_capital = 100
#https://vectorbt.pro/pvt_d904e513/documentation/portfolio/from-signals/#custom-outputs
pf = vbt.Portfolio.from_signals(df['open'], clean_entries.shift(periods = 1, fill_value = False), clean_exits.shift(periods = 1, fill_value = False), init_cash = init_capital, size = 1, )
# vbt.phelp(vbt.Portfolio.from_signals)
# print(entries.to_string())
#https://vectorbt.dev/api/portfolio/base/#column-group-and-tag-selection

# s = pd.to_numeric(pf.stats(settings=dict(freq='d')), errors='coerce')
print(pf.stats(settings=dict(freq='d'))) 
# vbt.phelp(pf.stats)
print('Net Profit ----------------->',pf.get_total_return() * init_capital)
# pf.plot().show()

/Users/jib/opt/anaconda3/envs/vectorbt/lib/python3.8/site-packages/vectorbtpro/generic/stats_builder.py:283: UserWarning: Changing the frequency will create a copy of this object. Consider setting it upon object creation to re-use existing cache.
  reself = self.resolve_self(

Start                                          0
End                                         1386
Period                        1387 days 00:00:00
Start Value                                100.0
Min Value                                 98.808
Max Value                              168.00025
End Value                              115.68675
Total Return [%]                        15.68675
Benchmark Return [%]                  119.264018
Total Time Exposure [%]                43.763518
Max Gross Exposure [%]                 90.394806
Max Drawdown [%]                       39.496072
Max Drawdown Duration          291 days 00:00:00
Total Orders                                  10
Total Fees Paid                              0.0
Total Trades                                   5
Win Rate [%]                                80.0
Best Trade [%]                         29.446575
Worst Trade [%]                       -21.009304
Avg Winning Trade [%]                  18.558575
Avg Losing Trade [%]                  -21.009304
Avg Winning Trade Duration      89 days 00:00:00
Avg Losing Trade Duration      251 days 00:00:00
Profit Factor                           1.592456
Expectancy                               3.13735
Sharpe Ratio                            0.291544
Calmar Ratio                            0.098974
Omega Ratio                             1.065135
Sortino Ratio                           0.418823
dtype: object
Net Profit -----------------> 15.686749999999988

# Pandas TA Strategy
A Pandas TA Strategy is a named group of indicators to be run by the strategy method. All Strategies use mulitprocessing except when using the col_names parameter (see below). There are different types of Strategies listed in the following section.

In [13]:
# # (1) Create the Strategy
# MyStrategy = ta.Strategy(
#     name="DCSMA10",
#     ta=[
#         {"kind": "ohlc4"},
#         {"kind": "sma", "length": 10},
#         {"kind": "donchian", "lower_length": 10, "upper_length": 15},
#         {"kind": "ema", "close": "OHLC4", "length": 10, "suffix": "OHLC4"},
#     ]
# )

# # (2) Run the Strategy
# df.ta.strategy(MyStrategy, **kwargs)

# RSI with SL & TP

In [14]:
df = pd.read_csv("GOOG_1D_EMA_35.csv")
df

,time,open,high,low,close,EMA,Smoothing Line
0,2017-09-27T13:30:00Z,46.387,47.49500,46.3870,47.2245,46.418617,46.392656
1,2017-09-28T13:30:00Z,47.068,47.53450,47.0275,47.4750,46.477305,46.408814
2,2017-09-29T13:30:00Z,47.600,47.98932,47.5755,47.9555,46.559427,46.441063
3,2017-10-02T13:30:00Z,47.999,48.12700,47.3920,47.6635,46.620764,46.489465
4,2017-10-03T13:30:00Z,47.700,47.90000,47.4570,47.8895,46.691250,46.553473
...,...,...,...,...,...,...,...
1382,2023-03-27T13:30:00Z,105.320,105.40000,102.6300,103.0600,97.877135,97.027063
1383,2023-03-28T13:30:00Z,103.000,103.00000,100.2800,101.3600,98.070628,97.425115
1384,2023-03-29T13:30:00Z,102.720,102.82000,101.0300,101.9000,98.283370,97.775275
1385,2023-03-30T13:30:00Z,101.440,101.61000,100.2900,101.3200,98.452072,98.051093
1386,2023-03-31T13:30:00Z,101.710,104.19000,101.4400,104.0000,98.760290,98.288699

In [23]:
rsi = vbt.RSI.run(close=df['close'],window=14)
entries = rsi.rsi_crossed_below(30)
exits = rsi.rsi_crossed_above(70)
clean_entries, clean_exits = entries.vbt.signals.clean(exits) 
init_capital = 100
print(clean_entries)
print(rsi[entries.loc[:] == True].rsi)
# pf = vbt.Portfolio.from_signals(df['open'], clean_entries.shift(periods = 1, fill_value = False), clean_exits.shift(periods = 1, fill_value = False), init_cash = init_capital, size = 1,
#                                 tp_stop = 0.15 )

pf = vbt.Portfolio.from_signals(close = df['close'],high = df['high'],low = df['low'], entries =  entries,exits =  exits, open = df['open'],init_cash = init_capital, sl_stop = 0.10, size = 1
                                , price = 'NextOpen', stop_entry_price = 'FillPrice')

# pf.stats(settings=dict(freq='d'))
# pf.orders.records_readable['Signal Index'] = df['time'].iloc[pf.orders.records_readable['Signal Index']]
pf.orders.records_readable

0       False
1       False
2       False
3       False
4       False
        ...
1382    False
1383    False
1384    False
1385    False
1386    False
Name: (14, close), Length: 1387, dtype: bool
92      28.067589
261     24.714487
421     24.187120
607     26.421608
614     28.648155
617     27.586489
1087    27.292272
1153    29.606226
1254    29.559556
1256    29.350394
1261    29.673053
1285    28.583118
Name: (14, close), dtype: float64
Start                                          0
End                                         1386
Period                        1387 days 00:00:00
Start Value                                100.0
Min Value                              80.106347
Max Value                             129.075224
End Value                              93.259114
Total Return [%]                       -6.740886
Benchmark Return [%]                  120.224672
Total Time Exposure [%]                 29.27181
Max Gross Exposure [%]                     100.0
Max Drawdown [%]                       37.938247
Max Drawdown Duration          485 days 00:00:00
Total Orders                                  18
Total Fees Paid                              0.0
Total Trades                                   9
Win Rate [%]                           44.444444
Best Trade [%]                         18.999904
Worst Trade [%]                         -11.8591
Avg Winning Trade [%]                  15.301714
Avg Losing Trade [%]                   -10.37182
Avg Winning Trade Duration      70 days 18:00:00
Avg Losing Trade Duration       24 days 14:24:00
Profit Factor                           0.844137
Expectancy                             -0.748987
Sharpe Ratio                           -0.005094
Calmar Ratio                           -0.047967
Omega Ratio                              0.99859
Sortino Ratio                          -0.007133
dtype: object

/Users/jib/opt/anaconda3/envs/vectorbt/lib/python3.8/site-packages/vectorbtpro/generic/stats_builder.py:283: UserWarning:

Changing the frequency will create a copy of this object. Consider setting it upon object creation to re-use existing cache.

,Order Id,Column,Signal Index,Creation Index,Fill Index,Size,Price,Fees,Side,Type,Stop Type
0,0,0,92,93,93,1.000000,50.86250,0.0,Buy,Market,None
1,1,0,181,182,182,1.000000,57.92500,0.0,Sell,Market,None
2,2,0,261,262,262,1.000000,53.64700,0.0,Buy,Market,None
3,3,0,364,365,365,1.000000,60.03225,0.0,Sell,Market,None
4,4,0,421,422,422,1.000000,52.14500,0.0,Buy,Market,None
5,5,0,459,460,460,1.000000,62.05250,0.0,Sell,Market,None
6,6,0,607,608,608,1.000000,63.87500,0.0,Buy,Market,None
7,7,0,608,617,617,1.000000,56.30000,0.0,Sell,Market,SL
8,8,0,617,618,618,1.000000,58.95000,0.0,Buy,Market,None
9,9,0,618,620,620,1.000000,53.05500,0.0,Sell,Market,SL
10,10,0,1087,1088,1088,0.871915,126.02750,0.0,Buy,Market,None
11,11,0,1088,1153,1153,0.871915,113.42475,0.0,Sell,Market,SL
12,12,0,1153,1154,1154,0.844441,117.11500,0.0,Buy,Market,None
13,13,0,1154,1172,1172,0.844441,105.40350,0.0,Sell,Market,SL
14,14,0,1254,1255,1255,0.894993,99.45000,0.0,Buy,Market,None
15,15,0,1255,1284,1284,0.894993,89.50500,0.0,Sell,Market,SL
16,16,0,1285,1286,1286,0.936807,85.51000,0.0,Buy,Market,None
17,17,0,1338,1339,1339,0.936807,99.55000,0.0,Sell,Market,None

In [25]:
# pf.plot().show()

In [17]:
df['time'].iloc[entries[entries.loc[:] == True].index]

92      2018-02-08T14:30:00Z
261     2018-10-10T13:30:00Z
421     2019-06-03T13:30:00Z
607     2020-02-27T14:30:00Z
614     2020-03-09T13:30:00Z
617     2020-03-12T13:30:00Z
1087    2022-01-21T14:30:00Z
1153    2022-04-27T13:30:00Z
1254    2022-09-21T13:30:00Z
1256    2022-09-23T13:30:00Z
1261    2022-09-30T13:30:00Z
1285    2022-11-03T13:30:00Z
Name: time, dtype: object

In [18]:
df['time'].iloc[pf.orders.records_readable['Creation Index']]

93      2018-02-09T14:30:00Z
182     2018-06-19T13:30:00Z
262     2018-10-11T13:30:00Z
365     2019-03-13T13:30:00Z
422     2019-06-04T13:30:00Z
460     2019-07-29T13:30:00Z
608     2020-02-28T14:30:00Z
617     2020-03-12T13:30:00Z
618     2020-03-13T13:30:00Z
620     2020-03-17T13:30:00Z
1088    2022-01-24T14:30:00Z
1153    2022-04-27T13:30:00Z
1154    2022-04-28T13:30:00Z
1172    2022-05-24T13:30:00Z
1255    2022-09-22T13:30:00Z
1284    2022-11-02T13:30:00Z
1286    2022-11-04T13:30:00Z
1339    2023-01-24T14:30:00Z
Name: time, dtype: object